test

In [1]:
import pandas as pd

In [10]:
import sklearn

In [8]:
df = pd.read_csv(r'\Users\Nick\Desktop\AFIN3010 REPOSITORY\AFIN3010-Group-Project\fintech_loan_simulation_data.csv')
print(df)

       Applicant_ID  Month  Annual_Income Employment_Status House_Status  \
0                 1      1        68000.0         part time          Own
1                 1      2        68000.0         part time          Own
2                 1      3        68000.0         part time          Own
3                 1      4        68000.0         part time          Own
4                 1      5        68000.0         part time          Own
...             ...    ...            ...               ...          ...
11995          1000      8        66000.0         full time       Rented
11996          1000      9        66000.0         full time       Rented
11997          1000     10        66000.0         full time       Rented
11998          1000     11        66000.0         full time       Rented
11999          1000     12        66000.0         full time       Rented

       Employment_History_Years  Online_Spending_Behavior_Score  \
0                             8                              59
1                             8                              59
2                             8                              59
3                             8                              59
4                             8                              59
...                         ...                             ...
11995                        11                              90
11996                        11                              90
11997                        11                              90
11998                        11                              90
11999                        11                              90

       Utility_Bill_Payment_Score  Number_of_Open_Accounts  Monthly_Debt  ...  \
0                              72                       15   1694.650794  ...
1                              72                       15   1694.650794  ...
2                              72                       15   1694.650794  ...
3                              72                       15   1694.650794  ...
4                              72                       15   1694.650794  ...
...                           ...                      ...           ...  ...
11995                          35                       13   1710.004763  ...
11996                          35                       13   1710.004763  ...
11997                          35                       13   1710.004763  ...
11998                          35                       13   1710.004763  ...
11999                          35                       13   1710.004763  ...

       Home_Utility_Expense  Shopping_Expense  Environmental_Spending  \
0                334.534946       1675.623182              377.316447
1                600.493615       1937.372496              441.151954
2                404.397072        698.006536               62.320014
3                498.983369        856.052390              250.709184
4                280.300105        864.054442              161.375914
...                     ...               ...                     ...
11995            329.247103        408.141609              287.256829
11996            400.256587        407.681941               64.328280
11997            600.396397       1199.355049              103.212040
11998            369.321352        424.996031              190.351304
11999            493.053471       1649.439688              518.720843

       Loan_Amount_Requested  Loan_Term             Purpose  Approval_Status  \
0                28787.81897         21      Major Purchase         Approved
1                28787.81897         10    Home Improvement         Approved
2                28787.81897         16    Medical Expenses         Approved
3                28787.81897         11    Home Improvement         Rejected
4                28787.81897         14    Home Improvement         Approved
...                      ...        ...                 ...              ...
11995            32799.33446         19      Major Purchase         Approved
11996            32799.33446         18  Debt Consolidation         Approved
11997            32799.33446          8  Debt Consolidation         Approved
11998            32799.33446         13    Home Improvement         Approved
11999            32799.33446         12    Home Improvement         Rejected

       Defaulted Number_of_Delinquencies Days_Late
0              0                       1         0
1              0                       3         0
2              1                       1        88
3              0                       5         0
4              0                       0         0
...          ...                     ...       ...
11995          0                       0         0
11996          0                       1         0
11997          0                       1         0
11998          0                       0         0
11999          0                       3         0

[12000 rows x 23 columns]

In [9]:
df.head()

,Applicant_ID,Month,Annual_Income,Employment_Status,House_Status,Employment_History_Years,Online_Spending_Behavior_Score,Utility_Bill_Payment_Score,Number_of_Open_Accounts,Monthly_Debt,...,Home_Utility_Expense,Shopping_Expense,Environmental_Spending,Loan_Amount_Requested,Loan_Term,Purpose,Approval_Status,Defaulted,Number_of_Delinquencies,Days_Late
0,1,1,68000.0,part time,Own,8,59,72,15,1694.650794,...,334.534946,1675.623182,377.316447,28787.81897,21,Major Purchase,Approved,0,1,0
1,1,2,68000.0,part time,Own,8,59,72,15,1694.650794,...,600.493615,1937.372496,441.151954,28787.81897,10,Home Improvement,Approved,0,3,0
2,1,3,68000.0,part time,Own,8,59,72,15,1694.650794,...,404.397072,698.006536,62.320014,28787.81897,16,Medical Expenses,Approved,1,1,88
3,1,4,68000.0,part time,Own,8,59,72,15,1694.650794,...,498.983369,856.052390,250.709184,28787.81897,11,Home Improvement,Rejected,0,5,0
4,1,5,68000.0,part time,Own,8,59,72,15,1694.650794,...,280.300105,864.054442,161.375914,28787.81897,14,Home Improvement,Approved,0,0,0

In [17]:
df

,Applicant_ID,Month,Annual_Income,Employment_Status,House_Status,Employment_History_Years,Online_Spending_Behavior_Score,Utility_Bill_Payment_Score,Number_of_Open_Accounts,Monthly_Debt,...,Home_Utility_Expense,Shopping_Expense,Environmental_Spending,Loan_Amount_Requested,Loan_Term,Purpose,Approval_Status,Defaulted,Number_of_Delinquencies,Days_Late
0,1,1,68000.0,part time,Own,8,59,72,15,1694.650794,...,334.534946,1675.623182,377.316447,28787.81897,21,Major Purchase,Approved,0,1,0
1,1,2,68000.0,part time,Own,8,59,72,15,1694.650794,...,600.493615,1937.372496,441.151954,28787.81897,10,Home Improvement,Approved,0,3,0
2,1,3,68000.0,part time,Own,8,59,72,15,1694.650794,...,404.397072,698.006536,62.320014,28787.81897,16,Medical Expenses,Approved,1,1,88
3,1,4,68000.0,part time,Own,8,59,72,15,1694.650794,...,498.983369,856.052390,250.709184,28787.81897,11,Home Improvement,Rejected,0,5,0
4,1,5,68000.0,part time,Own,8,59,72,15,1694.650794,...,280.300105,864.054442,161.375914,28787.81897,14,Home Improvement,Approved,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,1000,8,66000.0,full time,Rented,11,90,35,13,1710.004763,...,329.247103,408.141609,287.256829,32799.33446,19,Major Purchase,Approved,0,0,0
11996,1000,9,66000.0,full time,Rented,11,90,35,13,1710.004763,...,400.256587,407.681941,64.328280,32799.33446,18,Debt Consolidation,Approved,0,1,0
11997,1000,10,66000.0,full time,Rented,11,90,35,13,1710.004763,...,600.396397,1199.355049,103.212040,32799.33446,8,Debt Consolidation,Approved,0,1,0
11998,1000,11,66000.0,full time,Rented,11,90,35,13,1710.004763,...,369.321352,424.996031,190.351304,32799.33446,13,Home Improvement,Approved,0,0,0
11999,1000,12,66000.0,full time,Rented,11,90,35,13,1710.004763,...,493.053471,1649.439688,518.720843,32799.33446,12,Home Improvement,Rejected,0,3,0

In [22]:
print(df["Annual_Income"].median())
print(df["Employment_History_Years"].median())

58500.0
11.0